<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/investments"></ion-back-button>
    </ion-buttons>

    <ion-title> {{ investmentType }} </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add/investment/', investmentType]">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{ investmentType }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let investment of investmentsService.investmentsByType">
    <ion-card-header>
      <ion-row>
        <ion-col size="6">
          <ion-card-title class="xlarge bold text-left">{{ investment.ticker == "" ? "Untitled" : investment.ticker
            }}</ion-card-title>
        </ion-col>
        <ion-col size="6" class="text-right">
          <strong class="xlarge " [ngClass]="{positive
            : investment.amount>0, negative: investment.amount<0, neutral: investment.amount==0}"> {{
            investment.amount | currency: 'EUR' }} </strong>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <div class="text-left medium m-10">

        <strong class="medium"> {{ investment.date | date }} </strong>
        <p class="description small"> <i> {{ investment.description == "" ? "No description" : investment.description }}
          </i></p>

        <p class="mt-10">Broker: <strong> {{ investment.broker }}</strong></p>
        <p>Type: <strong> {{ investment.type }}</strong></p>
        <p *ngIf="investment.secondReason">Second Reason: <strong> {{ investment.secondReason }}</strong></p>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>