<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
    <ion-buttons slot="end" hidden>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-header">
    <div class="profile-picture-wrapper">
      <ion-avatar class="profile-avatar">
        <img [src]="dataService.profileData.profilePicture" alt="Avatar">
      </ion-avatar>
    </div>
    <div class="profile-info">
      <h2>{{dataService.profileData.name}} {{dataService.profileData.surname}}</h2>
      <p>{{dataService.profileData.email}}</p>
    </div>
  </div>

  <ion-card class="profile-details-card">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-text>{{dataService.profileData.email}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-text>{{dataService.profileData.phone}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="success" shape="round" class="edit-button" (click)="editProfile()">Edit
    Profile</ion-button>

</ion-content>