.container {
    text-align: center;
    margin: 20px;
}

.bold {
    font-weight: bold;
}

.xxlarge {
    font-size: 2em;
}

.xlarge {
    font-size: 1.75em;
}

.large {
    font-size: 1.5em;
}

.medium {
    font-size: 1.25em;
}

.small {
    font-size: 0.85em;
}

.xsmall {
    font-size: 0.75em;
}

.xxsmall {
    font-size: 0.5em;
}

.hidden {
    visibility: hidden;
}

.positive {
    color: rgb(132, 180, 130);
}

.negative {
    color: rgb(250, 114, 114);
}

.neutral {
    color: rgb(197, 197, 197);
}

hr.divider {
    width: 15%;
    border-radius: 25px;
    height: 7px;
    margin: 25px auto;
    background: var(--default);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

ion-icon[name="trash"] {
    color: rgb(173, 3, 3);
}