.container {
    text-align: center;
    margin: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.no-ms {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
}

.big {
    font-size: 1.5em;
}

.small {
    font-size: 0.85em;
}

.xsmall {
    font-size: 0.75em;
}

.hidden {
    visibility: hidden;
}

.positive {
    color: rgb(132, 180, 130);
}

.negative {
    color: rgb(250, 114, 114);
}

.neutral {
    color: rgb(197, 197, 197);
}

hr.divider {
    width: 15%;
    border-radius: 25px;
    height: 7px;
    margin: 25px auto;
    background: var(--default);
}