// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --default-color: #edfef9;
    --primary-color: #c1e7dd;
    --secondary-color: #6eb49c;
    --tertiary-color: #eefd8c;
    --dark: #005a2d;
    --ion-background-color: var(--default-color);
}