<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Add</ion-title>

    <ion-buttons slot="end" class="hidden">
      <ion-button [routerLink]="['/add']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input type="text" [(ngModel)]="operationsService.operation.title" placeholder="Title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input type="text" [(ngModel)]="operationsService.operation.description" placeholder="Description"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input type="number" [(ngModel)]="operationsService.operation.amount" placeholder="Amount"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-select [(ngModel)]="operationsService.operation.bank" placeholder="Select a Bank">
            <ion-select-option value="1">Bank 1</ion-select-option>
            <ion-select-option value="2">Bank 2</ion-select-option>
            <ion-select-option value="3">Bank 3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-row>
            <div>
              <ion-select [(ngModel)]="operationsService.operation.firstReason" placeholder="Select first reason">
                <ion-select-option value="1">Reason 1</ion-select-option>
                <ion-select-option value="2">Reason 2</ion-select-option>
                <ion-select-option value="3">Reason 3</ion-select-option>
              </ion-select>
            </div>
            <ion-button id="add-reason" color="success" class="p-0 ml-10">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-alert trigger="add-reason" header="Add a reason" [buttons]="reasonsService.alertButtons"
      [inputs]="reasonsService.newReason"></ion-alert>

    <ion-row *ngIf="operationsService.operation.firstReason">
      <ion-col size="12">
        <ion-item>
          <ion-select [(ngModel)]="operationsService.operation.secondReason" placeholder="Select second reason">
            <ion-select-option value="1">Reason 1</ion-select-option>
            <ion-select-option value="2">Reason 2</ion-select-option>
            <ion-select-option value="3">Reason 3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="operationsService.operation.date"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button color="success" expand="block" (click)="operationsService.addOperation()">Add</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>